/*
	--- layout_temp.css ---
Contains design and font-related sett. [temp]
	Last edited: 29/03/2016
*/
@charset "utf-8";
/* HTML Default Settings */
html, 
body, 
.container, 
.content-wrap {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}
.link {
	text-decoration: none;
}
li{
	display: inline-block;
}
form {
	display: inline-block;
	font-size: 20px;
	margin: 0.75em 0.2em 0.75em 0.5em;
}
*:focus {
    outline: none;
}

/* Main Layout */

/*--- Header ---*/
.header {
	position: fixed;
	display: inline-block;
	width: 100%;
	padding: 0px;
	margin: 0px;
	top: 0;
	left: 0;
	right: 0;
	background-color: orange;
	z-index: 0100;
}
div .header {
	display: inline-block;
}
.navigation_panel {
	display: inline-block;
	unicode-bidi: isolate;
	padding: 1em;
	list-style: none;
	float: left;
	text-align: center;
	vertical-align: middle;
}
a .btn_nav {
	color: white;
} 
.btn__nav--current {
	background: white;
	color: orange;
}
#searchb_q {
	padding: 0.15em 2em 0.15em 0.5em;
	border:0px solid #dbdbdb;
	border-radius: 8px;
	font-size: 18px;
	color: rgb(100, 100, 100);
	z-index: 0110;
}
#btn__searchb {
	position:absolute;
	-moz-transform: translateX(17em);
	-webkit-transform: translateX(17em);
	-o-transform: translateX(17em);
	-ms-transform: translateX(17em);
	transform: translateX(17em);
	margin: 0.2em;
	border: none;
	background-color: transparent;
	color: orange;
	z-index: 0111;
}
.account {
	display: inline-block;
	unicode-bidi: isolate;
	padding: 0.5em 2em;
	list-style: none;
	float: right;
}

/*--- Container -- Course ---*/
#clearfix_container {
	margin-left: 20em;
	background-image: url(../images/inti_logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
}
.container {
	position: relative;
	width: 90%;
	margin: 0px 5%;
	padding-right: calc(100%);
	transform: translateY(58px);
	overflow: scroll;
}
.div__course {
	display: inline-block;
	width: 30%;
	margin: 2em 1em;
}
