/*
	--- typography.css ---
Contains design and font-related sett.
	Last edited: 29/03/2016
*/
@charset "utf-8";
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}

.header {
	background-color: orange;
	z-index: 0100;	
}
.link {
	text-decoration: none;
